# Dependencies
node_modules
.pnp
.pnp.js
package-lock.json
yarn.lock
pnpm-lock.yaml

# Testing
coverage
.nyc_output

# Next.js
.next
out
build
dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*.swn
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.AppleDouble
.LSOverride

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Database
*.db
*.sqlite
*.sqlite3
prisma/dev.db

# Prisma
prisma/migrations

# Vercel
.vercel

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# python
.venv
.env*
